.layout {
	display: flex;
	flex: 1;
}

.drawer {
	width: 18%;
}

.main {
	max-width: 1000px;
	width: 82%;
	margin: 0 auto;
	display: block;
}

.MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
	width: 18%;
	margin: 0 5px;
}

.table {
	margin-top: 30px;
}

.form {
	width: 400px;
	background-color: white;
	border: '2px solid #000';
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.17);
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 7px;
}

.heading {
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #999;
}
